{{-
  $data := dict "Content" "<h3>Bloc prose</h3> \n <p>Ullamcorper hendrerit a dolor laoreet in risus suspendisse consectetur eleifend tellus ligula condimentum diam tortor a hendrerit egestas tortor torquent quam dolor. Magna taciti at per per ut ad nec feugiat quam torquent mi parturient mi a hac mus odio a sed id. Enim a consectetur vitae mi scelerisque.</p>"
-}}

{{ partial "blocs/bloc-prose.html" $data }}
