/* Styles globaux */
/*
Ces styles affectent TOUS les styles sur TOUTES les pages,
il faut donc limiter leur utilisation au maximum.
*/

html {
  /* réglages typographiques de base */
  font-family: sans-serif;
  color: var(--couleur-police-corps);
  background-color: var(--couleur-fond);

  /* Pour défiler fluidement vers des ancres par exemple */
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion) {
  html {
    /* Mais réduire les animations pour les utilisateur·trices qui ont
       explicitement déclaré cette préférence */
    scroll-behavior: auto;
  }
}