:root {
  /* Variables CSS */

  /* Palette de couleurs */
  --marine: #121149;
  --marine-semi-transparent: #12114955;
  --mer: #30395D;
  --rose: #f8cecd;
  --charbon: #212721;
  --violet: #8a2be2;
  --violet-semi-transparent: #8a2be222;
  --noir: #000;
  --blanc: #fff;

  /* Déclinaison */
  /* https://www.tailwindshades.com/#color=241.07142857142858%2C62.22222222222222%2C17.64705882352941&step-up=10&step-down=11&hue-shift=-75&name=bunting&base-stop=8&v=1&overrides=e30%3D */
  --marine-50:  #E1F6F8;
  --marine-100: #CCEEF3;
  --marine-200: #A3D6E9;
  --marine-300: #79B7E0;
  --marine-400: #5091D6;
  --marine-500: #2E64C5;
  --marine-600: #24409C;
  --marine-700: #1B2472;
  --marine-800: #121149; /* base */
  --marine-900: #09061B;
  --marine-950: #020105;

  /* Familles typographiques*/
  --police-serif: 'Latin Modern Roman', 'Computer Modern', Baskerville, serif;
  --police-sans: 'Instrument Sans', sans-serif;
  --police-corps: var(--police-sans);
  --police-mono: San Francisco Mono,Monaco,"Consolas","Lucida Console","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  --police-entetes: Teko, sans-serif;
  --police-details: var(--police-sans);
  --police-encadre: var(--police-details);

  /* Couleurs des éléments */
  --couleur-fond: var(--blanc);
  --couleur-police-corps: var(--marine);
  --couleur-police-entetes: var(--couleur-police);
  --couleur-fond-secondaire: #e7e8ec;
  --couleur-police-secondaire: #67686c; /* attention à avoir un contraste d'au moins AA avec couleur-fond-secondaire */
  --couleur-ancres: var(--marine-500);
  --couleur-ancres-survol: var(--marine-400);
  --couleur-police-pre: var(--marine-800);
  --couleur-fond-pre: var(--marine-100);
  --couleur-police-code: var(--marine-700);
  --couleur-fond-code: var(--marine-100);
  --couleur-fond-surbrillance: var(--rose);
  --couleur-surtitre: var(--violet);
  --couleur-police-citation: var(--marine-700);
  --couleur-police-ancres: var(--marine-500);

  /* Échelle typographique et réglages de police */
  --taille-police-corps: 1.25rem; /* 20px */
  --taille-police-citation: 1rem; /* 16px */
  --taille-police-h1: 4rem;
  --taille-police-h2: 3rem;
  --taille-police-h3: 2.25rem;
  --taille-police-h4: 2rem;
  --taille-police-h5: 1.75rem;
  --taille-police-h6: 1.5rem;
  --taille-police-petite: .9375rem; /* 15px */
  --taille-police-code: 0.875rem; /* 14px */
  --taille-police-pre: 1rem; /* 16px */
  --taille-police-legende: .9375rem; /* 15px */
  --taille-police-encadre: .875rem; /* 14px */
  --interlignage-corps: 1.5;
  --interlignage-entetes: 1.15;
  --graisse-corps: 400;
  --graisse-corps-gras: 700;
  --graisse-details: 400;
  --graisse-entetes: 500;
  --couleur-bordure-encadre: var(--violet);
  --couleur-fond-encadre: var(--violet-semi-transparent);
  --couleur-bordure: #ccc;

  /* Disposition */
  --mesure: 70ch;
  --conteneur-largeur-maximale: 80rem;
  --conteneur-espacement-x: calc(1rem + 1.5vw);
}

@media (min-width: 48rem) {
  :root {
    --conteneur-espacement-x: 3rem;
  }
}
