<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    {{- partial "head.html" . }}
    
    {{- block "head-after" . }}
    {{- end }}{{/* block */}}
  </head>
  <body>
    
    {{- block "navbar" . }}
    {{- partial "navbar.html" . }}
    {{- end }}{{/* block */}}

    {{- block "page-header" . }}
    {{/* La page d'accueil n'utilise pas le composant "page-header" */}}
    {{- if not .IsHome }}
    {{- partial "entete-page.html" . }}
    {{- end }}{{/* if */}}
    {{- end }}{{/* block */}}
    
    {{- block "main" .}}
    <main class="page-layout">
      <div class="page-layout__pre">
        {{- block "zone-infra" . }}
        {{- end }}{{/* block*/}}
      </div>

      <article class="page-layout__principal" itemprop="articleBody">

        {{- block "content" . }}
        {{- partial "prose.html" . -}}
        {{- end }}{{/* block */}}
      </article>

      <div class="page-layout__post">
        {{- block "zone-infra" . }}
        {{- end }}{{/* block*/}}
      </div>
    </main>
    {{- end }}{{/* block */}}

    {{- block "footer" . }}
    {{- partial "pied-de-page.html" . }}
    {{- end }}{{/* block */}}
  </body>
</html>
