{{/* Styleguide layout */}}

{{- define "main" }}
<main class="page-layout">
  <div class="page-layout__pre">
    Zone infra
  </div>

  <article class="page-layout__principal" itemprop="articleBody">

    {{- block "content" . }}
    {{- partial "prose.html" . -}}
    {{- end }}{{/* block */}}
  </article>

  <div class="page-layout__post">
    Zone infra
  </div>
</main>

{{/* Test des différents blocs */}}
<div class="styleguide-layout">
  {{ partial "styleguide/section-hero.html" . }}

  {{ partial "styleguide/section-horaire.html" . }}

  {{ partial "styleguide/section-prose.html" . }}

  {{ partial "styleguide/section-texte-exergue.html" . }}

  {{ partial "styleguide/section-partenaires.html" . }}
</div>

<style>
  .styleguide-layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>

{{- end }}