/* Instrument Sans */
/* https://github.com/Instrument/instrument-sans */

@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/instrument-sans/static/InstrumentSans-Regular.ttf') format('TrueType');
}

@font-face {
  font-family: 'Instrument Sans';
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/instrument-sans/static/InstrumentSans-Italic.ttf') format('TrueType');
}

@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/instrument-sans/static/InstrumentSans-Bold.ttf') format('TrueType');
}

@font-face {
  font-family: 'Instrument Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/instrument-sans/static/InstrumentSans-BoldItalic.ttf') format('TrueType');
}