@font-face {
  font-family: 'Latin Modern Roman';
  src: url('/fonts/latin-modern-roman/lmroman10-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Latin Modern Roman';
  src: url('/fonts/latin-modern-roman/lmroman10-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Latin Modern Roman';
  src: url('/fonts/latin-modern-roman/lmroman10-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Latin Modern Roman';
  src: url('/fonts/latin-modern-roman/lmroman10-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Latin Modern Roman SC';
  src: url('/fonts/latin-modern-roman/lmromancaps10-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Latin Modern Roman SC';
  src: url('/fonts/latin-modern-roman/lmromancaps10-oblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
