/* Teko */

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/teko/static/Teko-Light.ttf') format('TrueType');
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/teko/static/Teko-Regular.ttf') format('TrueType');
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/teko/static/Teko-Medium.ttf') format('TrueType');
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/teko/static/Teko-SemiBold.ttf') format('TrueType');
}


@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/teko/static/Teko-Bold.ttf') format('TrueType');
}
