/*
Les blocs sont disposés un à la suite de l'autre.
Ils permettent de disposer le contenu de manière modulaire sur la page.

Les blocs ont quelques propriétés qui varient; ces propriétés sont 
signalées avec les "variables CSS" (CSS custom properties) déclarées
au début de la définition de la classe `.bloc`.
*/
.bloc {
  --bloc-espacement-y: 4rem;
  --bloc-couleur-fond: transparent;

  padding-block: var(--bloc-espacement-y);

  background-color: var(--bloc-couleur-fond);
}

.bloc--texte-exergue {
  /* Le composant texte-exergue.html s'occupe de remplir l'espace vertical */
  --bloc-espacement-y: 0;
}

.bloc--partenaires {
  /* Les logos vont sur un fond sombre, le composant "partenaires.html"
     a lui-même une couleur de fond */
  --bloc-couleur-fond: var(--marine);
  --bloc-couleur-texte: var(--blanc);
}
