/*
  Le conteneur sert à maintenir une disposition centrée et une marge minimale
  sur les bords horizontaux.
  C'est un utilitaire utilisé partout à travers le site et dans de
  nombreux composants.
*/
.container {
  margin-inline: auto;
  max-width: var(--conteneur-largeur-maximale);
  padding-inline: var(--conteneur-espacement-x);
}