.entete-page {
  --entete-couleur-surtitre: var(--marine-500);

  padding-block: 4rem 1.5rem;

  /* tmp */
  border-block: 1px solid var(--couleur-bordure);
}

.entete-page__surtitre {
  color: var(--entete-couleur-surtitre);
  font-family: var(--police-details);
  font-weight: var(--graisse-details);
  line-height: var(--interlignage-entetes);
  text-transform: uppercase;
  letter-spacing: .025em;
}

.entete-page__titre {
  margin: 0;

  font-size: var(--taille-police-h1);
  font-family: var(--police-entetes);
  font-weight: var(--graisse-entetes);
}