/* Hero section */
.hero {
  --hero-couleur-fond: var(--marine);
  --hero-couleur-texte: var(--blanc);
  --hero-image-fond: none;
  --hero-taille-titre: 4rem;
  --hero-taille-sous-titre: 1.75rem;

  padding-block: 10rem 2rem;
  padding-inline: calc(1rem + 6vw);
  min-height: 28rem; /* hauteur minimale, au cas */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: .5rem;


  background-blend-mode:
    multiply,
    normal
  ;
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, .35), rgba(0, 0, 0, .1)),
    var(--hero-image-fond)
  ;
  background-position:
    bottom center,
    center center
  ;
  background-size:
    100% 100%,
    cover
  ;
  background-repeat: no-repeat;
  background-color: var(--hero-couleur-fond);
  color: var(--hero-couleur-texte);
}
@media (min-width: 48rem) {
  .hero {
    --hero-taille-titre: 5rem;
    --hero-taille-sous-titre: 3rem;
  }
}

.hero__titre {
  margin-block: 0;

  font-family: var(--police-entetes);
  font-size: var(--hero-taille-titre);
  font-weight: var(--graisse-entetes);
  line-height: var(--interlignage-entetes);
  color: inherit;

  text-shadow: 0 5px 25px rgba(0, 0, 0, .35);
}

.hero__sous-titre {
  margin-block: 0;

  font-family: var(--police-entetes);
  font-size: var(--hero-taille-sous-titre);
  font-weight: var(--graisse-entetes);
  line-height: var(--interlignage-entetes);
  color: inherit;

  text-shadow: 0 4px 20px rgba(0, 0, 0, .35);
}