/* Horaire */
.horaire__entete {
  margin-block-end: 2.5rem;

  text-align: center;
}

.horaire__titre {
  margin-block: 0;
  
  font-family: var(--police-entetes);
  font-weight: var(--graisse-entetes);
  line-height: var(--interlignage-entetes);
  font-size: var(--taille-police-h2);
  color: var(--navbar-couleur-texte);
}

.horaire__items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}