.item-horaire {
  --item-colonnes: auto;
  --item-zones: 
    "heure"
    "titre"
    "personnes"
    "resume"
  ;
  padding: 1.25rem;
  display: grid;
  gap: .5rem 2rem;
  grid-template-columns: var(--item-colonnes);
  grid-template-areas: var(--item-zones);

  border-radius: 1.25rem;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .15);
}

@media (min-width: 60rem) {
  .item-horaire {
    --item-colonnes: 10rem 1fr;
    --item-zones:
      "heure  titre"
      "heure  personnes"
      "heure  resume"
    ;
  }
}

.item-horaire__zone-heure {
  grid-area: heure;

  padding: 1.25rem .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 2rem;
  font-weight: var(--graisse-entetes);
  font-family: var(--police-entetes);
  line-height: var(--interlignage-entetes);
  text-align: center;
  border-radius: .75rem;
  background-color: var(--marine-100);
}

.item-horaire__zone-titre {
  grid-area: titre;

  padding-block: .5rem;

  font-size: var(--taille-police-h4);
  font-weight: var(--graisse-entetes);
  font-family: var(--police-entetes);
  line-height: var(--interlignage-entetes);
}

.item-horaire__zone-personnes {
  grid-area: personnes;

  font-family: var(--police-details);
  font-size: var(--taille-police-petite);
  font-weight: var(--graisse-corps-gras);
}

.item-horaire__zone-resume {
  grid-area: resume;

  padding-block: .5rem;
  margin-block-start: auto;

  font-size: var(--taille-police-petite);
  color: var(--couleur-police-corps);
  color: var(--couleur-police-secondaire);
}

.item-horaire__sommaire {
  --item-sommaire-icone: '+';

  display: block;
}
.item-horaire__sommaire[open] {
  --item-sommaire-icone: '-';
}

.item-horaire__entete-sommaire {
  padding-block: .15rem;
  padding-inline: .75rem;
  margin-inline-start: -.75rem; /* = padding-inline (pour alignement texte) */
  display: inline-block;

  font-weight: var(--graisse-corps-gras);
  cursor: pointer;
  user-select: none;
  transition: color .15s;
  border-radius: 3rem;
  background-color: var(--marine-50);
  color: var(--marine-500);
}

.item-horaire__entete-sommaire::after {
  content: var(--item-sommaire-icone);
  margin-inline: .25rem;
}
