/* Barre de navigation */
.navbar {
  --navbar-couleur-fond: transparent;
  --navbar-couleur-texte: inherit;
  --navbar-taille-police: var(--taille-police-petite);
  --navbar-espacement-x: var(--conteneur-espacement-x, 1.75rem);
  --navbar-espacement-y: 2.25rem;
  --navbar-colonnes: 1fr 1fr;
  --navbar-zones: 
    "title     lang    "
    "mainMenu  mainMenu"
  ;
  --navbar-main-menu-justify: start;
  --navbar-menu-gap-x: .75rem;
  --navbar-title-padding-y: .5rem;
  --navbar-police: var(--police-details);
  --navbar-item-couleur-survol: var(--couleur-ancres-survol);

  background-color: var(--navbar-couleur-fond);
  color: var(--navbar-couleur-texte);
  font-size: var(--navbar-taille-police);
  font-family: var(--navbar-police);
}

@media (min-width: 48rem) {
  .navbar {
    --navbar-colonnes: 1fr 50% 1fr;
    --navbar-zones: 
      "title  mainMenu  lang"
    ;
    --navbar-main-menu-justify: center;
    --navbar-title-padding-y: 2.5rem;
  }
}

.navbar__inner {
  display: grid;
  grid-template-columns: var(--navbar-colonnes);
  grid-template-areas: var(--navbar-zones);
  align-items: center;
}

.navbar__title {
  grid-area: title;

  padding-block: var(--navbar-title-padding-y);
  padding-inline: var(--navbar-espacement-x) .5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;

  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
.navbar__title[href]:hover {
  text-decoration: underline;
}

.navbar__main-menu {
  grid-area: mainMenu;

  padding-block: .5rem;
  padding-inline: var(--navbar-espacement-x);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: var(--navbar-main-menu-justify);
  align-items: baseline;
  gap: .5rem var(--navbar-menu-gap-x);
}

.navbar__language-menu {
  grid-area: lang;

  padding-block: .5rem;
  padding-inline: .25rem var(--navbar-espacement-x);
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: wrap;
  gap: .5rem var(--navbar-menu-gap-x);
}

.navbar__menu-item {
  padding-block: .25rem;
  display: inline-flex;
  flex-direction: row;

  color: var(--navbar-couleur-texte);
  font-size: var(--navbar-taille-police);
  text-decoration: none;

  transition: color .25s;
}
.navbar__menu-item:hover {
  color: var(--navbar-item-couleur-survol);
}

/* Séparateur visuel, appliqué sur tous sauf le dernier élément */
.navbar__menu-item:not(:last-child)::after {
  content: '/';
  display: inline-flex;
  margin-inline-start: var(--navbar-menu-gap-x); /* comme gap-x */

  opacity: .25;
}