.partenaires {
  /* grille fluide, auto-adpatative */
  --partenaires-colonnes: repeat(auto-fill, minmax(15rem, 1fr));
  /* pour la couleur de fond, on peut hériter par défaut du contexte du bloc */
  --partenaires-couleur-fond: var(--bloc-couleur-fond, var(--marine));
  --partenaires-couleur-texte: var(--bloc-couleur-texte, var(--blanc));

  background-color: var(--partenaires-couleur-fond);
  color: var(--partenaires-couleur-texte);
}

.partenaires__entete {
  margin-block: 0 3rem;

  font-family: var(--police-entetes);
  font-size: var(--taille-police-h2);
  font-weight: var(--graisse-entetes);
  line-height: var(--interlignage-entetes);
  color: var(--partenaires-couleur-texte);
}

.partenaires__grille {
  display: grid;
  grid-template-columns: var(--partenaires-colonnes);
  align-items: center;
  justify-content: center;
  gap: 3rem 5rem;
  img {
    max-height: 16rem;
    width: 100rem; };
} 

