/* Pied de page */
.pied-de-page {
  padding-block: 1.75rem;
  margin-block-start: 3rem;

  color: var(--marine);
  font-size: var(--taille-police-petite);
  border-block-start: 1px solid var(--couleur-bordure);
}
