/* Texte mis en exergue */
.texte-exergue {
  --exergue-couleur-fond: var(--marine-200);
  --exergue-couleur-texte: var(--marine-600);
  --exergue-taille-police: var(--taille-police-h3);

  padding-block: 5rem;

  background-color: var(--exergue-couleur-fond);
  color: var(--exergue-couleur-texte);
  font-size: var(--exergue-taille-police);
  line-height: 1.42; /* Interlignage relativement espacé, texte en gros caractères */
  font-family: var(--police-corps);
}

.texte-exergue__conteneur {
  margin-inline: auto;
  max-width: 56rem;
  padding-inline: var(--conteneur-espacement-x);
}

.texte-exergue__contenu {
  color: inherit;
  font-size: inherit;
}
