{{/* En-tête de page (titre, métadonnées, ...) */}}

<header class="entete-page">
  <div class="container">
    {{- if .Params.surtitre }}
    <div class="entete-page__surtitre">
      {{- .Params.surtitre -}}
    </div>
    {{- end }}{{/* if */}}
    
    <h1 class="entete-page__titre" itemprop="name headline">
      {{- .Title -}}
    </h1>
  </div>
</header>