<div
  class="hero"
  {{- if .image }}style="--hero-image-fond: url({{ .image }})"{{ end }}
>
    <h1 class="hero__titre">
      {{- .titre | markdownify -}}
    </h1>
    
    {{- if .soustitre }}
    <p class="hero__sous-titre">
      {{ .soustitre | markdownify }}
    </p>
    {{- end }}{{/* if */}}

    {{- if .content }}
    <p class="hero__sous-titre">
      {{ .content | markdownify }}
    </p>
    {{- end }}{{/* if */}}
</div>