{{/*
  Horaire
  Deux façons d'utiliser cet horaire: 
    a) propriété `items`;
    b) avec les items de l'horaire directement dans la propriété `Content`.

  Usage:

  Option a)
  {{
    $data := dict
      "id" "id-du-bloc"
      "entete" "En-tête du bloc"
      "items" (slice ...)
  }}

  Option b)
  {{
    $data := dict
      "id" "id-du-bloc"
      "entete" "En-tête du bloc"
      "Content" "(item-horaire.html ...)"
  }}

  ... et enfin, en appelant `$data`, défini en a) ou b):
  {{ partial "horaire.html" $data }}
*/}}

<section class="horaire">
  {{- if .entete }}
  <header class="horaire__entete">
    <h2 class="horaire__titre">
      {{- .entete -}}
    </h2>
  </header>
  {{- end }}{{/* if */}}

  <div class="horaire__items">
    {{- if .items }}
      {{/* a) propriété `items` */}}
      {{- range .items }}
      {{ partial "item-horaire.html" . }}
      {{- end }}{{/* range */}}
    {{- else if .Content }}
      {{/* b) contenu (il faut utiliser le shortcode `item-horaire`) */}}
      {{- .Content | markdownify }}
    {{- end }}{{/* if */}}
  </div>
</div>