{{/*
  Item pour le composant `horaire`.

  Usage:
  {{
    $item := dict 
      "id" "id-du-bloc"
      "heure" "09:00"
      "titre" "Titre ..."
      "personnes" "Monsieur X, Madame Y, ..."
      "resume" "Un résumé ..."
  }}
  {{ partial "item-horaire.html" $item }}
*/}}

<div
  class="item-horaire"
  {{- if .id }}id="{{.id}}"{{ end }}
>
  <div class="item-horaire__zone-heure">{{ .heure }}</div>

  <div class="item-horaire__zone-titre">{{ .titre | markdownify }}</div>

  {{- if .personnes }}
  <div class="item-horaire__zone-personnes">
    {{ i18n "by_author" }}&#32;
    {{ .personnes }}
  </div>
  {{- end }}

  {{- if .resume}}
  <div class="item-horaire__zone-resume">
    {{ .resume | markdownify}}

    <!--
      <details class="item-horaire__sommaire">
      <summary class="item-horaire__entete-sommaire">Résumé</summary>
    </details>
    -->
  </div>
  {{- end }}
</div>