{{/*
   Navbar
   Barre de navigation principale, avec des liens définis dans la configuration Hugo.
   
   Ex. dans config/_default/menus.toml:
   ```toml
   [[ main ]]
   weight = 1
   name = "Home"
   url = "/"

   [[ main ]]
   weight = 2
   name = "Programme"
   url = "#programme"
   ```

   Usage:

   {{ partial "navbar.html" . }}
*/}}

<nav class="navbar">
   <div class="navbar__inner">
      <a
         class="navbar__title"
         href="{{ ($.Site.GetPage "home").Permalink | absURL }}"
      >
         {{ .Site.Title }}
      </a>

      <div class="navbar__main-menu">
         {{- range $.Site.Menus.main }}
         <a
            class="navbar__menu-item"
            href="{{ .URL }}"
         >{{ .Name }}</a>
         {{- end }}{{/* range */}}
      </div>

      <div class="navbar__language-menu">
         {{- $home := $.Site.GetPage "/" }}
         {{- $homeTranslations := $home.AllTranslations }}
         {{- range $homeTranslations }}
         <a
           class="navbar__menu-item"
           href="{{ .Permalink }}"
           hreflang="{{ .Language.LanguageCode }}"
           title="{{ .Language.LanguageName }}"
         >{{ .Language.LanguageCode }}</a>
         {{- end }}{{/* range */}}
      </div>
   </div>
</nav>
