{{/*
  Composant partenaires
  Pour afficher une mosaïque de logos alignés sur une grille.

  Usage: 

  {{ $data := dict
    "items" (slice
      ("src" "chemin/vers/image" "alt" "Nom du partenaire")
    )
  }}
  {{ partial "partenaires.html" $data }}
*/}}
<div class="partenaires">
  {{- if .entete }}
  <h2 class="partenaires__entete">{{ .entete | markdownify }}</h2>
  {{- end }}

  <div class="partenaires__grille">
    {{- if .items }}
      {{/* a) propriété `items` */}}
      {{- range $index, $partenaire := .items }}
        {{- partial "item-partenaires.html" $partenaire }}
      {{- end }}
    {{- else if .Content }}
      {{/* b) contenu (il faut utiliser le shortcode `item-partnaires`) */}}
      {{- .Content | markdownify }}
    {{- end }}{{/* if */}}
  </div>
</div>