{{/*
  Texte exergue
  Pour mettre en valeur un bloc de texte en gros, avec un fond coloré.

  Usage:

  {{ $data := dict "Content" "Contenu HTML" }}
  {{ partial "texte-exergue.html" $data }}
*/}}
<div class="texte-exergue">
  <div class="texte-exergue__conteneur">
    <div class="texte-exergue__contenu">
      {{ .Content | markdownify }}
    </div>
  </div>
</div>