.page-layout {
  --layout-colonnes: auto;
  --layout-zones:
    "pre"
    "principal"
    "post"
  ;

  margin-inline: auto;
  max-width: var(--conteneur-largeur-maximale);
  padding-inline: var(--conteneur-espacement-x);
  padding-block: 2.5rem;

  display: grid;
  align-items: baseline;
  grid-template-columns: var(--layout-colonnes);
  grid-template-areas: var(--layout-zones);
  gap: 1.5rem;
}

@media (min-width: 60rem) {
  .page-layout {
    --layout-colonnes: 5rem 1fr 16rem;
    --layout-zones:
      "pre  principal  post"
    ;
  }
}

.page-layout__principal {
  grid-area: principal;
}

.page-layout__pre {
  font-size: var(--taille-police-petite, .75rem);
  color: var(--marine-300);
  grid-area: pre;
}

.page-layout__post {
  font-size: var(--taille-police-petite, .75rem);
  color: var(--marine-300);
  grid-area: post;
}